<nav>
    <ul>
        <li><a href="<%- route("page:index") %>">Home</a></li>
        <li><a href="<%- route("page:about") %>">About</a></li>
        <li><a href="<%- route("admin:person:detail", {id: 2}) %>">Person 2</a></li>
    </ul>
</nav>